* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html,
body {
  /* width: 1000px; */
}
/* 背景图部分 */
.manue {
  height: 650px;
  /* background-color: aliceblue; */
  background: url(../img/bg.jpg) no-repeat center center;
  background-size: cover;
  position: relative;
}
.nav {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  line-height: 55px;
  /* border-bottom: 1px solid whitesmoke ; */
}
.line {
  width: 100%;
  height: 20px;
  margin: 0 auto;
  position: absolute;
  top: 75px;
  border-bottom: 1px solid #848484;
}
/* logo左浮动 */
.logo {
  padding: 30px;
  float: left;
  color: rgba(255, 255, 255, 0.8);
  font-size: 24px;
  font-family: Adobe 黑体 Std;
}
/* 菜单右浮动 */
.nav ul {
  float: right;
  overflow: hidden;
}
.nav ul li {
  float: left;
  font-size: 16px;
}
.nav ul li a {
  padding: 30px 20px;
  color: rgba(255, 255, 255, 0.4);
  display: block;
  transition: all 0.8s;
}
.nav ul li a:hover {
  color: white;
  transform: scale(1.1);
}
.wenzi {
  width: 1200px;
  margin: 0 auto;
  position: absolute;
  left: 50%;
  margin-left: -600px;
  top: 50%;
  margin-top: -40px;
}
.wenzi p {
  color: #FFFFFF;
  font-size: 60px;
  text-align: center;
  font-family: Adobe 黑体 Std;
}
.wenzi a {
  display: block;
  transform: translateY(100px);
  color: #FFFFFF;
  width: 250px;
  height: 50px;
  background-color: #38c078;
  border-radius: 12px;
  font-size: 18px;
  font-family: Adobe 黑体 Std;
  line-height: 50px;
  text-align: center;
  margin: 0 auto;
  transition: all 0.8s;
}
.wenzi a:hover {
  font-size: 19px;
  background-color: rgba(0, 0, 0, 0);
}
/* 个人介绍 */
.me {
  width: 1200px;
  margin: 30px auto 0 auto;
}
h2 {
  font-size: 40px;
  margin: auto;
  display: block;
  text-align: center;
}
h5 {
  margin: 10px auto;
  display: block;
  text-align: left;
  font-size: 20px;
  color: gray;
}
.me img {
  margin-left: 160px;
}
.jineng {
  margin: 30px auto;
  width: 900px;
  display: block;
}
#person .pngbox {
  width: 900px;
  display: block;
  margin: 30px auto;
  overflow: hidden;
}
#person .pngbox .png {
  float: left;
  width: 50%;
  margin-left: 0;
}
#person .pngbox .png img {
  width: 80%;
  display: block;
}
#person .pngbox .png:first-child img {
  float: left;
  margin-left: 0;
}
#person .pngbox .png:last-child img {
  float: right;
}
#person .jineng p {
  font-size: 14px;
  padding: 10px 0;
  color: #333;
  text-align: left;
}
/* 作品 */
.zuopin {
  width: 1500px;
  margin: 120px auto;
}
.zuopin h2 {
  margin: 30px auto;
  text-align: center;
}
.zuopin h5 {
  margin: 30px auto;
  text-align: center;
  color: gray;
  text-align: left;
}
.zheng {
  overflow: hidden;
  width: 1340px;
  margin: auto;
  margin-left: 50px;
}
.picture {
  /* width: ; */
  float: left;
  margin-left: 94px;
  margin-top: 60px;
}
.picture7 {
  margin-top: -80px;
  /* border:10px solid #38C078; */
}
.picture10 {
  margin-top: -240px;
}
.picture11 {
  margin-top: -260px;
}
.picture5 {
  margin-top: 20px;
}
.picture4 {
  margin-top: 44px;
}
.picture8 {
  margin-top: -100px;
}
.zheng .picture img {
  transition: all 0.8s;
}
.zheng .picture img:hover {
  transform: scale(1.3);
}
/* 联系我 */
.lianxi {
  margin: 120px auto;
  text-align: center;
  display: block;
}
.lianxi h2 {
  margin: 30px auto;
  text-align: center;
  display: block;
}
.lianxi h5 {
  margin: 30px auto;
  text-align: left;
  display: block;
}
input,
textarea,
img {
  display: block;
}
.box {
  width: 910px;
  margin: 100px auto 0;
}
.box ul {
  overflow: hidden;
  text-align: center;
}
.box ul li {
  float: left;
  /* margin-left: 300px; */
  width: 33.3%;
  margin-top: 10px;
}
.box ul li img {
  margin: 0 auto 22px;
}
.box ul li p {
  margin-top: 20px;
  color: #808080;
}
/* .box .text,.box .mail,.box .sub{
	width: 910px;
	height: 50px;
	border: 2px solid #808080;
	margin: 46px auto 0;
	font-size: 22px;
	color: #848484;
    padding: 10px;	
} */
.conbox {
  width: 1200px;
  margin: 30px auto;
  display: block;
}
.conbox h2 {
  margin: 30px auto;
  text-align: center;
  display: block;
}
.conbox h5 {
  margin: 30px auto;
  text-align: left;
  display: block;
}
.conbox .pngbox {
  display: block;
  margin: 10px auto;
  overflow: hidden;
}
.conbox .pngbox .png {
  float: left;
  width: 50%;
}
.conbox .pngbox .png img {
  width: 80%;
  margin: auto;
  display: block;
}
.conbox .pngbox .png:first-child img {
  float: left;
}
.conbox .pngbox .png:last-child img {
  float: right;
}
.conbox .png3 {
  display: block;
  margin: 10px auto;
  overflow: hidden;
}
.conbox .png3 .png:first-child img {
  float: left;
}
.conbox .png3 .png:last-child img {
  float: right;
}
.conbox .png3 .png {
  float: left;
  width: 33%;
}
.conbox .png3 .png img {
  width: 80%;
  margin: auto;
  display: block;
}
.conbox .conpng {
  width: 300px;
  margin: auto;
}
.conbox .tit {
  font-weight: bold;
  color: #333;
  font-size: 20px;
  padding: 10px 0;
}
.conbox .desc {
  font-size: 14px;
  text-align: left;
  color: #999;
  padding: 30px 0;
}
.conbox img {
  transition: all 0.8s;
}
.conbox img:hover {
  transform: scale(1.3);
}
